.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

hr.divider {
  width: 20%;
  border-color: #3a5e9e;
}

table.players {
  width: 17%;
}

@media only screen and (max-width: 600px) {

  .App-logo {
    height: 80vmin;
  }

  .App-header {
    font-size: 22px;
  }
  table.players {
    width: 85%;
  }

  hr.divider {
    width: 90%;
  }
}

tr.winning {
  background: #444c5d;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
